body, .body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  background: white;
}
a {
  /* text-decoration: none;
  text-decoration: underline; */
}
.body {
  overflow: hidden;
  font-size: 17px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.s_el_t, .q_el_t, .a_el_t, .p_text, .a_el {
  display: inline-block;
}
.a_el {
  padding-left: 8px;
}
.rem_q_el {
  position: absolute;
  left: 133px;
}

.rem_s_el {
  position: absolute;
  /* left: 137px; */
}

/* .rem_a_el {
  position: absolute;
  left: 133px;
} */

.f_ans {
  /* margin-left: 10px; */
}
.q_el_t {
  overflow-x: hidden;
  position: relative;
  max-width: 111px;
}
.s_el_t {
  overflow-x: hidden;
  position: relative;
  max-width: 100px;
  margin-right: 10px;
  /* padding-left: 4px; */
}
.s_el {
  display: inline-block;
  background: white;
  padding: 4px 22px 14px 10px;
  margin-left: 19px;
  color: #105bab;
}
.text {
  margin: 7px 0px 5px 0px;
}
.q_el {
  background: #fff;
  margin-top: 10px;
  max-width: 165px;
  padding-left: 10px;
}
.p_ans {
  margin-top: 2px;
  margin-bottom: 0px;
}
.section {
  padding-top: 10px;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
  height: 52px;
  border-bottom: 1px solid black;
  background: #dddddd;
  border-bottom: 1px solid white;
}
.contents {
  display: grid;
  height: calc(100vh - 52px);
  /* width: 506px; */
  grid-template-columns: 167px calc(100% - 167px);
}
.answers, .questions {
  overflow-y: scroll;
  white-space: nowrap;
}
.questions {
  border-right: 1px solid black;
  background: #f5f5f5;
  border-right: 1px solid white;
}
.answers {
  padding-left: 10px;
}
.ans, .quest, .sect {
  color: #0016d2;
  font-size: 17px;
  padding-left: 10px;
  padding-top: 5px;
}
